section.about {
  padding: 150px 0;
}

.banner {
  background: url(/images/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 200px;
  border-left: 4px solid #ff9800;
}

.banner ul {
  padding: 20px;
}

.banner li {
  margin-bottom: 20px;
}

.banner a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.left-half {
  background-color: #333;
  background-image: url(/images/me.jpg);
  background-size: cover;
  background-position: center;
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.right-half {
  background-color: #ffffff;
  float: left;
  width: 50%;
  height: 100%;
}

nav {
  display: inline-block;
  width: 100%;
  border-top: 4px solid #ff9800;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.8)
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.8)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.8)
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.8)
  );
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 4rem;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .left-half {
    display: none;
  }
  .right-half {
    width: 100%;
  }
  .center {
    position: static;
    transform: none;
    padding: 2rem;
  }
  section.about {
    height: auto;
    padding: 80px 0;
  }
}

@media (min-width: 769px) {
  .banner {
    display: none;
  }
}
